.button {
  padding: 0.75rem 1.5rem;
  border: none;
  border-radius: 0.2rem;
  background-color: #00ed82;
  color: black;
  font-weight: bold;
  cursor: pointer;
  transition: opacity 0.2s ease;
  width: 20rem;

  &:hover {
    opacity: 0.8;
  }
}

.button-bot {
  width: 15rem;
  background-color: transparent;
  color: white;
  border: 2px solid white;
  margin-bottom: 2.5rem;
  border-radius: 0.3rem;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease;

  &:hover {
    background-color: #c5cad3;
    color: black;
  }
}

.button-tv-shows {
  width: 14rem;
  height: 3rem;
  background-color: #1ce783;
  color: black;
  border-radius: 0.3rem;
  border: none;
  cursor: pointer;
}

@media (max-width: 853px) {
  .button-hero {
    width: 250px;
  }
}

@media (max-width: 673px) {
  .button-hero {
    width: 200px;
  }
}

@media (max-width: 673px) {
  .button-hero {
    width: 130px;
  }
}
