.tv-shows {
  padding: 4rem 2rem;
  background: black;
  color: white;

  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;

  .tv-card-list {
    display: flex;
    justify-content: center; // Or 'space-between' or 'flex-start'
    gap: 1.5rem; // Space between cards
    flex-wrap: nowrap; // Prevent wrapping
    overflow-x: auto; // Optional: allow horizontal scroll if overflow
    text-align: left;
  }

  .subtitle {
    color: #00ed82;
    font-weight: bold;
    font-size: 0.9rem;
    letter-spacing: 1px;
    margin-bottom: -1rem;
  }

  h2 {
    font-size: 3rem;
    margin-bottom: 1rem;
  }

  .description {
    max-width: 700px;
    font-size: 1.1rem;
    line-height: 1.6;
    color: #ccc;
  }

  .disclaimer {
    font-size: 0.6rem;
    padding-bottom: 1rem;
  }
}
