nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0));
  position: absolute;
  width: 94%;
  z-index: 10;

  img {
    height: 40px;
    cursor: pointer;
  }

  .nav-actions {
    display: flex;
    align-items: center;
    gap: 1rem;
    position: relative;

    .login-button {
      color: white;
      font-weight: bold;
      border-radius: 8px;
      padding: 0.5rem 1rem;
      transition: 0.2s linear;

      &:hover {
        background-color: rgb(75, 71, 71);
        cursor: pointer;
      }
    }

    .hamburger {
      display: none;
      font-size: 1rem;
      background-color: #333;
      padding: 0.8rem;
      border-radius: 4px;
      color: white;
      cursor: pointer;
      user-select: none;
    }

    .mobile-menu {
      display: none;
    }
  }
}

@media (max-width: 1060px) {
  nav {
    width: 92%;
  }
}

@media (max-width: 1024px) {
  nav {
    .nav-actions {
      .login-button {
        display: none;
      }

      .hamburger {
        display: block;
      }

      .mobile-menu {
        display: block;
        position: absolute;
        top: 100%;
        right: 0;
        background-color: #232323;
        color: rgb(190, 190, 190);
        padding: 1rem 2rem;
        width: 200px;
        border-radius: 8px;
        margin-top: 0.5rem;
        z-index: 9;

        ul {
          list-style: none;
          padding: 0;
          margin: 0;

          li {
            padding: 0.75rem 0;
            cursor: pointer;
          }
        }
      }
    }
  }
}

@media (max-width: 768px) {
  nav {
    width: 91.7%;
  }
}

@media (max-width: 425px) {
  nav {
    width: 83%;
  }
}
