.promotional {
  background: linear-gradient(to right, #091e29, #0f4657);
  display: flex;
  justify-content: center;
  position: relative;
  z-index: 2;
  min-height: 130px;

  .promotional-container-mobile {
    display: none;
  }

  .promotional-container {
    display: flex;
    align-items: center;
    max-width: 2000px;

    flex-wrap: wrap;
    gap: 12rem;
    text-align: left;

    .promotional-image {
      width: 200px;
      height: auto;
    }

    .promotional-text-group {
      .promotional-text-group-title {
        color: #08cc77;
        font-size: 0.8rem;
      }

      .promotional-text-group-description {
        color: #ffffff;
        font-size: 1.3rem;
        margin: 0;
      }

      .promotional-text-group-included {
        font-size: 0.7rem;
        color: #d0d7d9;
      }
    }
    .promotional-container-buttonterms {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 0.5rem;

      .promotional-button {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 10rem;
        height: 3rem;
        border-color: transparent;
        background-color: #00ed82;
        border-radius: 0.3rem;
        font-size: 0.9rem;
        font-weight: bold;
        cursor: pointer;
      }

      .promotional-terms {
        color: #d0d7d9;
        font-size: 0.7rem;
      }
    }
  }

  @media (max-width: 1600px) {
    .promotional-container {
      gap: 8rem;
    }
  }

  @media (max-width: 1436px) {
    .promotional-container {
      gap: 5rem;
      .promotional-text-group-description {
        width: 90%;
      }
    }
  }

  @media (max-width: 1110px) {
    .promotional-container {
      gap: 2rem;
      padding-left: 2rem;

      .promotional-text-group {
        width: 50%;
        margin-left: 2rem;
      }

      .promotional-container-buttonterms {
        margin-left: 0;
      }
    }
  }

  @media (max-width: 960px) {
    .promotional-container {
      gap: 1rem;
      padding-bottom: 2rem;
      padding-top: 1rem;
      .promotional-text-group {
        width: 40%;
        margin-left: 2rem;
      }
    }
  }

  @media (max-width: 767px) {
    .promotional-container {
      display: none;
    }

    .promotional-container-mobile {
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
    }

    .promotional-mobile-title {
      margin-top: 2rem;
      color: #00ed82;
      font-size: 0.8rem;
    }
    .promotional-mobile-image {
      width: 200px;
      height: auto;
    }

    .promotional-mobile-description {
      color: #c7d0d4;
      font-size: 0.9rem;
      margin-top: 0;
    }

    .promotional-mobile-included {
      color: #b9c4c7;
      font-size: 0.9rem;
      height: 1rem;
    }

    .promotional-mobile-button {
      justify-content: center;
      align-items: center;
      width: 10rem;
      height: 3rem;
      border-color: transparent;
      background-color: #00ed82;
      border-radius: 0.3rem;
      font-size: 0.9rem;
      font-weight: bold;
      cursor: pointer;
    }

    .promotional-mobile-terms {
      color: #c7d0d4;
      font-size: 0.6rem;
      margin-bottom: 2rem;
    }
  }
}
