.start-building {
  background: linear-gradient(to top, #161a1f, #2aa869);
  color: white;
  font-size: 1.2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 140px;

  &-text {
    font-size: 1.2rem;
    font-weight: bold;
  }
}
